---
layout: default
title: "Este es blog de páginas web de Juli. ¡Léelo!"
description: "Este es mi blog personal. Te muestro cómo me gusta trabajar y la manera crear y mejorar páginas web que no vendían nada. Y cómo hacerlo para ti."
h1: "Bienvenido a mi blog personal donde te hablo de páginas web y SEO"
hero: "img/juli-desarrollador-web.webp"
alt: "Logo de Juli, desarrollador de páginas web y SEO"
noindex: true
---
<section class="content flow">
  <h2>Lee la manera de aprovechar tus páginas web</h2>
</section>

<main class="content">
    <div class="home_gallery">
      {% for principal in site.posts %}
      <article class="flow">
        <img src="{{principal.hero}}" alt="{{principal.alt}}">
        <a href="{{principal.url|relative_url}}">
          <h3>{{principal.h1}}</h3>
        </a>
        <p>{{principal.excerpt | truncate: 144}}</p>
      </article>
      {% endfor %}
    </div>
    <br>
  </main>
  
  {% include cta.html %}
