---
layout: default
title: La heladería de San Agustín Huila
description: Conoce los horarios y datos de contacto de la heladería GurCoff de San Agustín Huila
---
{% include header.html %}

<section class="contacto">
  <h2>Horarios y datos de contacto de la Heladería GurCoff</h2>
  <h3>San Agustín, calle 5 17-02, via al parque arqueológico</h3>
  <div class="mapa">
    <iframe src="{{ site.maps }}" width="100%" height="450" frameborder="0"
      style="border:0; box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);"></iframe>
  </div>
  <h3>Horarios de nuestro servicio en San Agustín</h3>
  <ul>
    <li>Lunes de 1pm a 6:30pm</li>
    <li>Martes de 1pm a 6:30pm</li>
    <li>Miércoles: Descansamos</li>
    <li>Jueves de 1pm a 6:30pm</li>
    <li>Viernes de 1pm a 6:30pm</li>
    <li>Sábado de 1pm a 7pm</li>
    <li>Domingo de 1pm a 7pm</li>
  </ul>
  <h3>Contacta con nuestra heladería en San Agustín</h3>
  <ul>
    <li><a href="{{ site.tel }}">Reservas (+57 3115245225)</a></li>
    <li><a href="{{ site.whatsapp }}">Escribir a WhatsApp</a></li>
  </ul>
  <h3>Búscanos como @GurCoff:</h3>
  <ul>
    <li>
      <!-- TripAdvisor -->
      <div id="TA_selfserveprop158" class="TA_selfserveprop">
        <ul id="AEP1gwDf7b9" class="TA_links lYCYPsDp">
          <li id="aXMkaEnY0S" class="JsEKQWS7G6OB"><a target="_blank"
              href="https://www.tripadvisor.co/Restaurant_Review-g445060-d19216448-Reviews-Gurcoff-San_Agustin_Huila_Department.html"><img
                src="https://www.tripadvisor.co/img/cdsi/img2/branding/v2/Tripadvisor_lockup_horizontal_secondary_registered-11900-2.svg"
                alt="TripAdvisor" /></a></li>
        </ul>
      </div>
    </li>
    <li><a href="{{ site.facebook }}"> Facebook</a></li>
    <li><a href="{{ site.instagram }}"> Instagram</a></li>
    <li><a href="{{ site.tripadvisor }}"> Tripadvisor</a></li>
    <li><a href="{{ site.minegocio }}"> Mi Negocio (GurCoff San Agustín)</a></li>
  </ul>
</section>
<main class="nosotros">
  <a href="{{ site.instagram }}">
    <figure>
      <img src="{{site.baseurl}}/img/nosotros/helado-gurcoff.webp" loading="lazy" title="Helados con receta GurCoff"
        alt="Niño de San Agustín comiéndose un helado GurCoff">
      <figcaption>Súper cliente GurCoff</figcaption>
    </figure>
  </a>
  <h2>GurCoff San Agustín</h2>
  <p>Nuestra heladería es el resultado de un esfuerzo familiar por tener una heladería muy llamativa y agradable.
    Logramos <strong>un lugar en San Agustín donde te sientes feliz y te puedes relajar; te atienden como lo mereces; y
      te enamoras de las deliciosas preparaciones y recetas de nuestros helados.</strong>
  </p>
  <p>Como todo buen proyecto, tuvo sus retos. Intentamos ubicarnos en un local que nos permitiera recibir con comodidad
    a los amantes del buen helado. Queríamos que el lugar provocara esa sensación de pasarla rico en familia o amigos.
  </p>
  <p>Por esto, GurCoff se convirtió en el punto de encuentro para cuando terminas tu jornada laboral o estudiantil, es
    <strong>el lugar donde quieres ir y desestresarte, relajarte y comer bien rico.</strong></p>
  <a href="{{ site.instagram }}">
    <figure>
      <img src="{{site.baseurl}}/img/nosotros/gurcoff-san-agustin-huila.webp" loading="lazy"
        title="Heladería GurCoff de San Agustín Huila"
        alt="Local comercial de la heladería GurCoff ubicada en San Agustín Huila">
      <figcaption>Nuestra heladería en San Agustín</figcaption>
    </figure>
  </a>
  <p>Para comenzar con pie derecho y establecernos firmemente en San Agustín, decidimos atenderte nosotros mismos. Era
    más trabajo, pero nos permitió algo muy importante: <strong>conocer de primera mano los gustos, intereses y
      expectativas de nuestra clientela.</strong></p>

  <q>Mira más fotos en nuestra cuenta de <a href="https://instagram.com/gurcoff">Instagram: @GurCoff</a></q>


  <h2>Nuestra Misión en San Agustín Huila</h2>
  <p>Así fue como logramos descubrir nuestra misión como empresa:</p>
  <q>GurCoff es el punto de encuentro para pasar una tarde deliciosa</q>
  <p>Es el lugar para que disfrutes los atardeceres, una charla vespertina tranquila, y para <strong>todos los que aman
      un helado de mucha calidad y con sabores bien cuidados.</strong></p>
  <a href="{{ site.instagram }}">
    <figure>
      <img src="{{site.baseurl}}/img/nosotros/atardecer-en-san-agustin.webp" loading="lazy" title="Atardecer en GurCoff"
        alt="Foto de un atardecer desde la heladería GurCoff">
      <figcaption>Un delicioso atardecer de San Agustín en GurCoff</figcaption>
    </figure>
  </a>

  <script async
    src="https://www.jscache.com/wejs?wtype=selfserveprop&amp;uniq=158&amp;locationId=19216448&amp;lang=es_CO&amp;rating=true&amp;nreviews=5&amp;writereviewlink=true&amp;popIdx=true&amp;iswide=false&amp;border=true&amp;display_version=2"
    data-loadtrk onload="this.loadtrk=true"></script>
</main>

{% include footer.html %}