<nav class="breadcrumbs" aria-label="breadcrumb">
  {% assign crumbs = page.url | remove:'/index.html' | split: '/' %}
  <ol itemscope itemtype="https://schema.org/BreadcrumbList">
    <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
      <a href="{{ '/' | relative_url | remove: '/' }}" itemprop="item">
        <span itemprop="name">Inicio</span>
      </a>
      <meta itemprop="position" content="1" />
    </li>
    {% for crumb in crumbs offset: 1 %}
      {% if forloop.last %}
        <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
          <span itemprop="name">{{ page.title }}</span>
          <meta itemprop="position" content="{{ forloop.index | plus: 1 }}" />
        </li>
      {% else %}
        {% assign full_path = '' %}
        {% for i in (1..forloop.index) %}
          {% assign full_path = full_path | append: '/' | append: crumbs[i] %}
        {% endfor %}
        <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
          <a href="{{ full_path | relative_url | remove: '/' }}" itemprop="item">
            <span itemprop="name">
              {% if crumb == 'blog' %}Blog
              {% else %}{{ crumb | replace:'-',' ' | capitalize }}{% endif %}
            </span>
          </a>
          <meta itemprop="position" content="{{ forloop.index | plus: 1 }}" />
        </li>
      {% endif %}
    {% endfor %}
  </ol>
</nav>