<nav class="breadcrumbs" aria-label="breadcrumb">
  {% assign crumbs = page.url | remove:'/index.html' | split: '/' %}
  <ol itemscope itemtype="https://schema.org/BreadcrumbList">
    <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
      <a href="{{ '/' | relative_url }}" itemprop="item">
        <span itemprop="name">Inicio</span>
      </a>
      <meta itemprop="position" content="1" />
    </li>
    {% for crumb in crumbs offset: 1 %}
      {% if forloop.last %}
        <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
          <span itemprop="name">{{ page.title }}</span>
          <meta itemprop="position" content="{{ forloop.index | plus: 1 }}" />
        </li>
      {% else %}
        {% assign crumb_limit = forloop.index | plus: 1 %}
        <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
          <a href="{% for crumb in crumbs limit: crumb_limit %}{{ crumb | append: '/' }}{% endfor %}" itemprop="item">
            <span itemprop="name">{{ crumb | replace:'-',' ' | capitalize }}</span>
          </a>
          <meta itemprop="position" content="{{ forloop.index | plus: 1 }}" />
        </li>
      {% endif %}
    {% endfor %}
  </ol>
</nav>