<section class="cta">
  <div class="wrapper">
    <div class="cta_copy flow">
      <h2>Hagamos tu blog con una buena estrategia SEO</h2>
      <p>Cuenta conmigo para desarrollar y administrar tu blog. Yo te ayudo a implementarlo con resultados prometedores a mediano plazo de tiempo. Cuéntame tu idea y hagamos realidad tu proyecto.</p>
      <a href="mailto:{{site.email}}" class="boton">contacto@juli.com.co</a>
    </div>
    <img src="{{'img/juli-desarrollador-web.webp'|relative_url}}" alt="Juli desarrollador web colombiano" loading="lazy">
  </div>
</section>