<section class="cta" id="cta">
  <div class="wrapper">
    <div class="cta_copy flow">
      <h2>Tu página web será un negocio exitoso</h2>
      <p>Solo hay 3 condiciones que tienes que cumplir:</p>
      <ol>
        <li>Suscribirte en este formulario</li>
        <li>Leer los correos que te regalo</li>
        <li>Aplicar lo que te enseño en esos emails</li>
      </ol>
      <p>Y luego me lo agradecerás a tu manera. Pero sé que pasará. ¡Suscríbete!</p>
      <img src="{{'img/juli.webp'|relative_url}}" alt="Juli desarrollador web colombiano" loading="lazy">
    </div>
    {% include formulario.html %}
  </div>
</section>