<footer>
  <a href="{{site.baseurl}}/blog" title="Página de contacto de la heladería GurCoff de San Agustín Huila">Blog</a>
  <a href="{{site.baseurl}}/legal" title="Página con las normas del uso de datos y privacidad de la heladería GurCoff de San Agustín Huila" rel="nofollow">Términos y Condiciones</a>
  <a href="{{site.baseurl}}/sitemap.xml" title="Sitemap del sitio web de la heladería GurCoff de San Agustín Huila">Sitemap</a>

  <p>©&nbsp; <b>juli.com.co</b> {{ "now" | date:"%Y"}} - Todos los derechos reservados</p>

</footer>