<header class="home_header wrapper">
  {% include nav.html %}
  {% assign url = page.url %}
  {% case url %}
    {% when "/" %}
    <h1>{{page.h1}}</h1>
    <p>Normalmente estás aquí por 2 razones: <strong>estoy haciendo el mejor SEO colombiano o me compraste una página web.</strong> Como sea, te comparto todo lo que aprendí para sacarle provecho:</p>
    <div class="home_gallery">
        {% for principal in site.posts %}
        {% if principal.home %}
        <article class="flow">
          <div>
            <img src="{{principal.hero}}" alt="{{principal.alt}}">
            <a href="{{principal.url|relative_url}}"><h2>{{principal.h1}}</h2></a>
          </div>
          <p>{{principal.excerpt}}</p>
        </article>
        {% endif %}
        {% endfor %}
      </div>
      {% when "/contacto" %}
      <div>
        <h2>In construction</h2>
      </div>
      {% when "/desarrollo-paginas-web" %}
      <div class="header_landing">
        <img src="{{page.hero|relative_url}}" alt="{{page.alt}}">
        <h1>{{page.h1}}</h1>
        <a href="mailto:{{site.email}}" class="boton">contacto@juli.com.co</a>
      </div>
      {% when "/servicio-seo" %}
      <div class="header_landing">
        <img src="{{page.hero|relative_url}}" alt="{{page.alt}}">
        <h1>{{page.h1}}</h1>
        <a href="mailto:{{site.email}}" class="boton">contacto@juli.com.co</a>
      </div>
    {% else %}
    <div class="header_post">
      <img src="{{page.hero|relative_url}}" alt="{{page.alt}}">
      <h1>{{page.h1}}</h1>
    </div>
    <p>{{page.description}} - Juli 😎</p>
    {% endcase %}
</header>