<nav>
  <div class="content">
    <a href="{{site.baseurl}}/" title="Inicio del blog de Juli" class="logo">
      <img src="{{'img/logo-juli-nav.webp'|relative_url}}" alt="Logo del blog de Juli" width="28 " height="34">
      <span>juli.com.co</span>
    </a>  
    <div class="dropdown">
      <span>👉 Servicios</span>
      <div class="dropdown-content">
        <a href="{{'desarrollo-paginas-web'|relative_url}}" title="Diseño y desarrollo de páginas web">🌐 Páginas web</a>
        <a href="{{'servicio-seo'|relative_url}}" title="Servicios SEO o de posicionamiento web">📈 Posicionamiento / SEO</a>
        <a href="{{'mejora-de-paginas-web'|relative_url}}" title="Mejorar páginas web">📊 Remodelaciones web</a>
      </div>
    </div>
    <a href="mailto:{{site.email}}" class="boton">
      <img src="{{'img/email.svg' | relative_url }}" alt="Logo de email de juli.com.co" width="36" height="34">
      <span>📧 contacto@juli.com.co</span>
    </a>
  </div>
</nav>