<nav>
  <input id="nav-toggle" type="checkbox">
  <a href="{{site.baseurl}}/" title="Inicio" class="logo">
    <img src="{{'img/logo-juli-nav.webp'|relative_url}}" alt="Logo Juli - Blogs y SEO" width="28 " height="34">
    <span>
      juli.com.co
    </span>
  </a>  
  <ul>
    <!-- <li>
      <a href="{{site.baseurl}}/consejos" {% if page.url contains '/blog' %}class="active"{% endif %}>Consejos</a>
    </li>
    <li>
      <a href="{{site.baseurl}}/blogs" {% if page.url contains '/blog' %}class="active"{% endif %}>Blogs</a>
    </li>
    <li>
      <a href="{{site.baseurl}}/seo" {% if page.url contains '/blog' %}class="active"{% endif %}>SEO</a>
    </li> -->
    <li><a href="https://www.buymeacoffee.com/julifranco" class="cursos_menu" target="_blank" rel="nofollow noopener noreferrer">Apóyame para dar más</a></li>
    <li><small> &copy; juli.com.co </small></li>
  </ul>
  <label for="nav-toggle" class="icono-nav">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
  </label>
</nav>