.logo{
  position: absolute;
}

.articulo,
.sugerencias,
#disqus_thread {
  position: relative;
  padding: 0 1.5rem;
}

.articulo li {
  list-style: square;
}

.articulo p a {
  text-decoration: none;
  background-image: linear-gradient(var(--accion), var(--amarillo));
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size .3s;
}

.articulo p a:hover,
.articulo p a:focus {
  background-size: 100% 2px;
}

.articulo p a {
  font-weight: 700;
  color: var(--accion);
  text-decoration: sulid;
}

.articulo amp-img{
  border-radius: 37px;
  box-shadow: 12px 9px 28px #dadadf, -12px -12px 35px #ffffff;
}

.share-box{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 3rem 0;
  justify-self: center;
}

.share-box h3{
  width: 100%;
  text-align: center;
  margin-bottom: 1.5rem;
}

.share-box a {
  display: inline-block;
  border-radius: 5px;
  box-shadow: 0 2px 5px var(--gris1);
  padding: 5px 12px;
  text-decoration: none;
}

.share-box a:hover {
  text-decoration: none;
  transition: background-color 200ms linear;
}

.f{color: #284d9c;}

.f:hover {
  color: #fff;
  background-color: #284d9c;
}

.i {
  color: #5bd336;
}

.i:hover {
  color: #fff;
  background-color: #43d336;
}

.sugerencias h3{
  margin: 2rem 0;
}

.relacionados a{
  display: grid;
}

.relacionados img{
  max-width: 50%;
  justify-self: center;
}

.relacionados h4{
  text-transform: uppercase;
  text-align: center;
  color: var(--accion);
}

.relacionados a{
  margin: 1.5rem 0;
}