.articulo{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  }

.articulo li:before {
  content: '✓ ';
}

.articulo article{
  width: min(630px, 90%);
}

.articulo article h2,
.articulo article h3{
  margin: 2rem 0;
}

.articulo article li{
  margin-bottom: 1.5rem;
}

.articulo article a{
  color: var(--rojo);
  text-decoration: underline 3px;
  transition: ease-in-out 0.5s;
}

.articulo article a:hover{
color: var(--accion);
}
.articulo aside{
  width: min(320px, 90%);
  padding: 5vh 3vw;
  text-align: center;
  border-radius: var(--radius);
  border: 10px solid var(--gris);
  height: min-content;
}

.articulo aside img{
  width: 200px;
}

.articulo aside a{
  color: var(--azul);
  text-transform: uppercase;
}
.share-box{
  display: flex;
  flex-wrap: wrap;
  gap: 0 2rem;
  justify-content: center;
  justify-self: center;
  padding: 5rem 0;
  background-color: var(--gris);
  color: white;
}

.share-box h3{
  width: 100%;
  text-align: center;
  margin-bottom: 1.5rem;
}

.share-box a {
  display: inline-block;
  border-radius: 5px;
  box-shadow: 0 2px 5px var(--gris1);
  padding: 5px 12px;
  text-decoration: none;
  background-color: var(--blanco);
}

.share-box a:hover {
  text-decoration: none;
  transition: background-color 200ms linear;
}

.f{color: #284d9c;}

.f:hover {
  color: #fff;
  background-color: #284d9c;
}

.i {
  color: #5bd336;
}

.i:hover {
  color: #fff;
  background-color: #43d336;
}
