/* DATOS DEL POST */

.post-data {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

.post-data span {
  font-weight: 700;
}

/* BREADCRUMBS */

#breadcrumbs {
  margin-bottom: 1em;
}


.articulo{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
  }

.articulo li:before {
  content: '✓ ';
}

.articulo article{
  max-width: 100%;
  flex: 1 0 min(100%, 580px);
}

.articulo article h2,
.articulo article h3{
  margin: 2rem 0;
}

.articulo article li{
  margin-bottom: 1.5rem;
}

.articulo article a{
  color: var(--accion);
  text-decoration: underline 3px;
  transition: ease-in-out 0.5s;
  font-weight: 700;
}

.articulo aside{
  flex: 1;
  padding: 5vh 16px;
  text-align: center;
  border-radius: var(--radius);
  border: 10px solid var(--gris);
  height: min-content;
}

.articulo aside img{
  width: 200px;
}

.articulo aside a{
  color: var(--azul);
  text-transform: uppercase;
}

.articulo .referencias ul{
  padding: 1em 0;
}
