.blog{
  display: grid;
  gap: 1.5rem;
  justify-items: center;
  padding: 3rem 0;
  width: min(95%, 1128px);
  margin-inline: auto;
}

.blog p{
  max-width: 720px;
}

.blog h2{
  max-width: 600px;
}

.contenido {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(auto, 400px));
  padding: 3rem;
  place-content: center;
}

.contenido article{
  display: flex;
  flex-direction: column;
  padding: 5vh 3vw;
  border-radius: 25px;
  border: 10px solid var(--gris);
  box-shadow: var(--shadow);
}

.contenido article p{
  width: 100%;
}