.blog{
  display: grid;
  justify-items: center;
  padding: 3rem 0;
  width: min(95%, 1128px);
  margin-inline: auto;
}

.blog p{
  max-width: 720px;
}

.blog h2{
  max-width: 600px;
}

.contenido {
  display: flex;
  flex-direction: column;
}

.contenido h3{
  width: 100%;
  display: inline-block;
}

.contenido article{
  max-width: 100%;
  border-bottom: 1px dotted #aeaeae;
}

.contenido article a{
  color: var(--accion);
  font-weight: 900;
}