header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 4rem 16px;
  margin-inline: auto;
  width: 100%;
  overflow: hidden;
  background: rgb(32, 39, 39);
  background: linear-gradient(12deg, rgba(32, 39, 39, 1) 24%, rgba(27, 154, 170, 1) 100%);
  box-shadow: var(--shadow);
}

header div{
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

header div h1{
  max-width: 720px;
  color: var(--blanco);
}

header img{
  max-width: 400px;
}