.home_header{
  margin-top: 4em;
  display: grid;
}

.home_header div h1{
  margin: 0;
}

.home_gallery{
  padding: 4em 0 0;
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(auto-fill, minmax(min(100%, 400px), 1fr));
  align-items: flex-start;
}

.home_gallery article,
.entradas_home article{
  display: grid;
  border: 1.6px solid var(--principal);
  padding: 1em;
  border-radius: var(--radius);
  background-color: white;
}

.home_gallery article div, 
.header_post{
  display: flex;
  align-items: center;
  gap: 12px;
}

.header_landing{
  display: grid;
  place-items: center;
  gap: 40px;
}

.header_landing img{
  box-shadow: var(--shadow);
}

.header_landing h1{
  text-align: center;
}