.home_header{
  margin-top: 4em;
  display: grid;
}

.home_gallery{
  padding: 4em 0 0;
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(auto-fill, minmax(min(100%, 400px), 1fr));
  align-items: flex-start;
}

.home_gallery article{
  display: grid;
  border: 2.4px solid var(--principal);
  padding: 1em;
  border-radius: var(--radius);
  
}

.home_gallery article div{
  display: flex;
  align-items: center;
  gap: 12px;
}

.home_gallery .boton{
  grid-column: 1 / -1;
}

.home_gallery img{
  z-index: 3;
}