.home div{
  border-top: 2.4px solid var(--acento);
  padding: 2em 0 1em;
}

.home article div{
  display: flex;
  align-items: center;
  gap: 1em;
}

.conclusion{
  background: rgb(32, 39, 39);
  background: linear-gradient(18deg, rgba(32, 39, 39, 1) 24%, rgba(27, 154, 170, 1) 100%);
  box-shadow: var(--shadow);
  color: white;
  display: grid;
  place-items: center;
  text-align: center;
}

.conclusion p{
  width: min(732px, 90%);
  text-align: center;
}