/* landing */
.intro {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  align-items: center;
}

.intro div {
  max-width: 720px;
}

.intro lord-icon {
  max-width: 90%;
}

.servicios {
  width: min(95%, 1128px);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 5rem;
  margin-inline: auto;
  color: white;
}

.servicios div,
.entradas article {
  padding: 2rem;
  box-shadow: var(--shadow);
  border-radius: var(--radius);
  border: 10px solid var(--blanco);
  flex: 1 0 400px;
  max-width: 100%;
}

.servicios div:nth-child(1){
  background-color: var(--accion);
  background-image: url({{site.baseurl}}/img/fondo-1.png);
}

.servicios div:nth-child(2) {
  background-color: var(--gris);
  background-image: url({{site.baseurl}}/img/fondo-1.png);
}

.servicios div:nth-child(3) {
  background-color: var(--azul);
  background-image: url({{site.baseurl}}/img/fondo-1.png);
}

.servicios div li {
  margin-bottom: 12px;
}

.servicios div li:before {
  content: '✓ ';
}

.servicios div a{
  justify-self: flex-end;
  font-weight: 700;
  text-decoration: underline;
  text-decoration-thickness: 2.5px;
  text-decoration-color: var(--blanco);
  color: var(--blanco);
}

.clientes{
  padding: 0;
}

.clientes, .entradas{
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
  justify-content: center;
  align-items: stretch;
}

.clientes h2{
  width: 100%;
}

.clientes div{
  max-width: 100%;
}

.clientes div,
.entradas article{
  display: grid;
  padding: 5vh 3vw;
  border-radius: 25px;
  border: 10px solid var(--gris);
  box-shadow: var(--shadow);
  align-items: center;
}

.clientes div a{
justify-self: right;
}

.experiencia {
  width: min(95%, 1128px);
  margin: 50px auto;
  position: relative;
  overflow: hidden;
}

.experiencia:before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -1px;
  width: 2px;
  height: 100%;
  background: var(--gris);
  opacity: .7;
  z-index: 1
}

.timeline-block {
  width: -webkit-calc(50% + 8px);
  width: -moz-calc(50% + 8px);
  width: calc(50% + 8px);
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  justify-content: space-between;
  clear: both;
}

.timeline-block-right {
  float: right;
}

.timeline-block-left {
  float: left;
  direction: rtl
}

.marker {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 2px solid #F5F7FA;
  background: #4FC1E9;
  margin-top: 10px;
  z-index: 9999
}

.timeline-content {
  width: 95%;
  padding: 0 15px;
  color: #666
}

.timeline-content h3 {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 25px;
  font-weight: 500
}

.timeline-content span {
  font-size: 1rem;
  color: #a4a4a4;
}

.timeline-content p {
  font-size: 1rem;
  line-height: 1.5em;
  word-spacing: 1px;
  color: #888;
}

.timeline-content a {
  font-size: 1rem;
  line-height: 1.5em;
  word-spacing: 1px;
  color: #888;
}