nav :checked ~ ul {
  right: 0;
}

nav :checked ~ .icono-nav .line:nth-child(1) {
  transform: translateY(10px) rotate(225deg);
}

nav :checked ~ .icono-nav .line:nth-child(2) {
  opacity: 0;
}

nav :checked ~ .icono-nav .line:nth-child(3) {
  transform: translateY(-10px) rotate(-225deg);
}
