nav {
  position: fixed;
  z-index: 100;
  left: 0;
  right: 0;
  top: 0;
  padding: 12px 20px 8px;
  display: flex;
  font-family: var(--fuenteTitulos);
  background-color: white;
  box-shadow: var(--shadow);
  align-items: center;

  .logo-nav{
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
  }
}

.navegacion {
  margin-left: auto;
  display: flex;
  gap: 1.5em;
  align-items: center;
  justify-content: center;
}

.navegacion > li {
  margin: 0;
  text-align: center;
  font-size: 18px;
  display: flex;
  gap: 4px;
  align-items: center;
  justify-content: center;
}

.navegacion .boton:last-child {
  margin: 0;
  padding: 12px 24px;
}

.dropdown-content a {
  margin: 0 0 16px 0;
}

.buscador:target {
  display: grid;
}

.cerrar:target .buscador {
  display: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 40px;
  left: 0;
  background-color: #f9f9f9;
  min-width: 280px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px;
  z-index: 10;
  border-radius: var(--radius);
}

.dropdown:hover .dropdown-content {
  display: block;
}

#nav-toggle {
  position: absolute;
  top: -100px;
}

nav .icono-nav {
  display: none;
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
}

nav .icono-nav .line {
  width: 32px;
  height: 4px;
  background-color: var(--accion);
  margin: 4px;
  border-radius: 3px;
  transition: all 0.3s ease-in-out;
}

@media screen and (width <= 1200px) {
  nav ul {
    float: none;
    position: fixed;
    flex-direction: column;
    z-index: 99;
    left: 0;
    right: 0;
    bottom: 100%;
    top: 64px;
    width: auto;
    height: auto;
    overflow: auto;
    transition: all 0.4s ease-out;
    background-color: #e5e5e5;
    background-image: url("/img/bg.webp");
    align-items: center;
  }

  .navegacion > a:not(:last-child),
  .navegacion > li,
  .dropdown-content a {
    padding: 8px;
    border-radius: var(--radius);
    border: 3.6px solid var(--secundario);
    width: min(100%, 320px);
  }

  .dropdown-content {
    top: 48px;
  }

  nav :checked ~ ul {
    bottom: 0;
  }

  nav .icono-nav {
    display: block;
  }

  nav :checked ~ .icono-nav .line:nth-child(1) {
    transform: translateY(10px) rotate(225deg);
  }

  nav :checked ~ .icono-nav .line:nth-child(2) {
    opacity: 0;
  }

  nav :checked ~ .icono-nav .line:nth-child(3) {
    transform: translateY(-10px) rotate(-225deg);
  }
}
