nav{
  position: fixed;
  z-index: 100;
  left: 0;
  right: 0;
  top: 0;
  padding: 12px 0 8px;
  background-color: rgba(250, 252, 252, 0.8);
  box-shadow: var(--shadow);
}

nav div {
  display: flex;
  gap: 1em;
  justify-content: space-between;
}

nav .logo{
  display: flex;
  align-items: center;
  gap: 8px;
}

nav .logo img {
  width: min(100%, 28px);
}

nav .logo span{
  display: none;
}

@media screen and (min-width: 600px) {
  nav .logo span{
    display: block;
    font-family: var(--fuenteTitulos);
    font-weight: bolder;
  }
  
}
