.introduccion {
  padding: 1.5rem;
}

.entradas {
  padding: 1.5rem;
  display: grid;
  grid-gap: 3rem 1rem;
}

.entradas article {
  border-radius: 37px;
  background: #f5f5fa;
  box-shadow: 12px 9px 28px #dadadf, -12px -12px 35px #ffffff;
  padding: 1rem;
}

.entradas article img {
  max-width: 100%;
}

.entradas article a{
  font-family: var(--fuenteTitulo);
  color: var(--azul);
  text-transform: uppercase;
  text-decoration: underline;
  line-height: 2px;
}