@media screen and (min-width: 600px) {
  header {
    height: 30vh;
  }

  .introduccion,
  .entradas,
  .articulo,
  .sugerencias {
    width: 500px;
    justify-self: center;
  }
}

@media screen and (min-width: 992px) {
  .logo{
    transform: rotate(-25deg) scale(1.5);
    top: 2rem;
    left: 2rem;
  }
}

@media screen and (min-width: 992px) {
  .entradas article {
    display: grid;
    grid-template-columns: 250px auto;
  }

  .entradas article img {
    grid-row: span 2;
    align-self: center;
  }

  .entradas article a {
    align-self: flex-end;
  }

  .share-box {
    width: 50vw;
    margin: 0 auto;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  header {
    height: 40vh;
  }

  .introduccion,
  .entradas,
  .articulo,
  .sugerencias {
    width: 700px;
  }
}