@media screen and (min-width: 600px) {

  section,
  main {
    width: 500px;
  }

  .entradas article {
    display: grid;
    place-items: center;
  }
}

@media screen and (min-width: 767px) {
}

@media screen and (min-width: 992px) {
  .logo {
    transform: rotate(-20deg) scale(1.5);
    top: 2.7rem;
    left: 2rem;
  }

  section,
  main {
    width: 720px;
  }

  .entradas article {
    display: grid;
    grid-template-columns: 250px auto;
  }

  .entradas article img {
    grid-row: span 2;
  }

  .entradas article h3 {
    align-self: flex-end;
  }

  .share-box {
    width: 50vw;
    margin: 0 auto;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {

}