@media screen and (max-width: 768px) {
  .experiencia:before {
     left: 8px;
     width: 2px;
  }
  .timeline-block {
     width: 100%;
     margin-bottom: 30px;
  }
  .timeline-block-right {
     float: none;
  }

  .timeline-block-left {
     float: none;
     direction: ltr;
  }
}

@media screen and (min-width:992px) {
  .clientes,
  .entradas div {
    grid-template-columns: repeat(auto-fill, minmax(25vw, auto));
    place-content: center;
    gap: 2rem;
  }

  .experiencia{
    background-position: left center;
  }
}