/* // Adding 'Contents' headline to the TOC */

#markdown-toc {
  border: 1px solid var(--azul);
  border-radius: 37px;
  box-shadow: 12px 9px 28px #dadadf, -12px -12px 35px #ffffff;
  padding: 0.7rem;
  margin: 1rem 0;
  list-style: decimal;
  display: inline-block;
}

#markdown-toc::before {
  content: "Contenido:";
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 3;
}

#markdown-toc li {
  list-style: none;
  margin-bottom: 1.5rem;
  font-weight: 700;
  counter-increment: steps;
}

#markdown-toc li::before {
  content: counter(steps);
  margin-right: 0.5rem;
  background: var(--azul);
  color: white;
  width: 1.2em;
  height: 1.2em;
  border-radius: 50%;
  display: inline-grid;
  place-items: center;
  line-height: 1.2em;
}

#markdown-toc ul {
  counter-reset: steps;
}

#markdown-toc ul li::before {
  background: var(--amarillo);
  margin-left: 0.5rem;
}

#markdown-toc a {
  font-weight: 700;
  color: var(--accion);
  text-decoration: none;
  background-image: linear-gradient(var(--accion), var(--amarillo));
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size .3s;
}

#markdown-toc a:hover,
#markdown-toc a:focus {
  background-size: 100% 2px;
}