:root {

  /*** COLORES ***/
  /* rgb */
  --azul: #1b9aaa;
  --accion: rgb(6, 214, 160);
  --amarillo: rgb(255, 196, 61);
  --rojo: rgb(239, 71, 111);
  --gris: #202727;
  --blanco: rgb(241, 241, 241);
  --colorTexto: rgb(30, 33, 43);
  --shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1);
  --radius: 24px;

  /*** FUENTES ***/
  --fuenteTitulo: 'Josefin Sans', sans-serif;
  --fuenteTexto: 'Lato', sans-serif;
  --fuenteQ: 'Grechen Fuemen', cursive;
  --sizeH1: clamp(32px, 5vw, 2.5rem);
  --sizeH2: clamp(24px, 5vw, 2rem);
  --sizeH3: clamp(20px, 5vw, 1.8rem);
  --sizeTexto: clamp(16px, 1vw + .5rem, 1rem);
}

/*** Formatos Universales ***/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
}

html {
  line-height: 1.5;
  scroll-behavior: smooth;
}

body {
  background-color: var(--blanco);
  font-family: var(--fuenteTexto);
  font-size: var(--sizeTextos);
  color: var(--colorTexto);
}

b,
strong {
  font-weight: 700;
}

span {
  font-weight: 700;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4 {
  font-family: var(--fuenteTitulo);
  line-height: 1.2;
  margin-bottom: 1.5rem;
}

h1,
h2 {
  text-align: center;
  text-shadow: var(--shadow);
}

h1 {
  font-size: var(--sizeH1);
  text-transform: uppercase;
}

h2 {
  text-transform: uppercase;
  font-size: var(--sizeH2);
}

h3 {
  font-size: var(--sizeH3);
}

p{margin: 0 0 1.5rem 0}

q {
  font-family: var(--fuenteQ);
  font-size: var(--sizeH3);
  font-weight: 700;
  color: var(--azul);
  text-shadow: var(--shadow);
}

q::before,
q::after{
  font-size: calc(100% * 1.5);
  line-height: 1;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  margin: 2rem 0;
}

img {
  border-style: none;
}

.botones {
  display: inline-block;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: 40px;
  text-shadow: 0px 1px rgba(150, 129, 129, 0.2);
  text-align: center;
  text-decoration: none;
  color: #FFF;
  padding: 7px 20px;
  white-space: nowrap;
  border-radius: 100px;
  margin: 10px 0;
  transition: all 0.2s ease-in;
  background: var(--accion);
  box-shadow: 0px 5px 5px 0px var(--shadow);
  -webkit-animation: blink-1 0.3s ease-in 0.3s 2 alternate-reverse both;
  animation: blink-1 0.3s ease-in 0.3s 2 alternate-reverse both;
}

@-webkit-keyframes blink-1 {

  0%,
  50%,
  100% {
    opacity: 1;
  }

  25%,
  75% {
    opacity: 0;
  }
}

@keyframes blink-1 {

  0%,
  50%,
  100% {
    opacity: 1;
  }

  25%,
  75% {
    opacity: 0;
  }
}

.botones:hover {
  background: var(--rojo);
}

.botones:active {
  box-shadow: 0px 2px 0px 0px var(--rojo);
}

/* CONJUNTOS */
.intro,
.parallax,
.clientes,
.entradas,
.conclusion,
.articulo{
  padding: clamp(5rem, 15vh, 10rem) 0;
}

.servicios div h3,
.clientes div h3 {
  font-size: calc(100% * 2);
}