:root {

  /*** COLORES ***/
  /* rgb */
  --azul: #0811b4;
  --accion: #f14421;
  --amarillo: #FCD739;
  --gris: #202727;
  --blanco: #f0f0f0;
  --colorTexto: rgb(30, 33, 43);
  --shadow: 3px 2px 5px rgba(0, 0, 0, 0.2);

  /*** FUENTES ***/
  --fuenteTitulo: 'Oswald', sans-serif;
  --fuenteTexto: 'Nunito Sans', sans-serif;
  --fuenteQ: 'Megrim', cursive;

  --sizeH1: clamp(22px, (1.5rem + 1vw) * 1.5, 2.2rem);
  --sizeH2: clamp(20px, (1.3rem + 1vw) * 1.3, 2rem);
  --sizeH3: clamp(18px, (1.2rem + 1vw) * 1.2, 1.8rem);
  --sizeTexto: 18px;
}

/*** Formatos Universales ***/
*,
*::after,
*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  line-height: 1.5;
  scroll-behavior: smooth;
}

body {
  background-color: var(--blanco);
  font-family: var(--fuenteTexto);
  font-size: var(--sizeTextos);
  color: var(--colorTexto);
  display: grid;
  grid-gap: 3rem 0;
  justify-items: center;
}

b,
strong {
  font-weight: 700;
}

span {
  font-weight: 700;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4 {
  font-family: var(--fuenteTitulo);
  line-height: 1.2;
}

h1,
h2 {
  text-align: center;
  text-shadow: var(--shadow);
}

h1 {
  font-size: var(--sizeH1);
  text-transform: uppercase;
}

h2 {
  font-size: var(--sizeH2);
}

h3 {
  font-size: var(--sizeH3);
}

q {
  font-family: var(--fuenteQ);
  font-weight: 700;
}

a {
  text-decoration: none;
  color: var(--accion);
}

li {
  list-style: none;
}

button {
  margin: 2rem 0;
}

img {
  border-style: none;
}

section,
main{
  width: 90vw;
  display: grid;
  grid-gap: 2rem;
}

.fade {
  height: 1px;
  color: var(--complemento2);
  background-image: linear-gradient(90deg, rgba(255, 0, 0, 0), var(--complemento2) 50%, rgba(255, 0, 0, 0) 100%);
}

[hidden] {
  display: none;
}