:root {

  /*** COLORES ***/
  /* rgb */
  --azul: #020887;
  --accion: #F46246;
  --amarillo: #FCD739;
  --gris: #202727;
  --blanco: #f5f5fa;
  --colorTexto: rgb(30, 33, 43);
  --shadow: 3px 2px 5px rgba(0, 0, 0, 0.2);

  /*** FUENTES ***/
  --fuenteTitulo: 'Oswald', sans-serif;
  --fuenteTexto: 'Nunito Sans', sans-serif;
  --fuenteQ: 'Megrim', cursive;

  --sizeH1: clamp(22px, (1.5rem + 1vw) * 1.25, 2.2rem);
  --sizeH2: clamp(20px, (1.3rem + 1vw) * 1.2, 2rem);
  --sizeH3: clamp(18px, (1.2rem + 1vw) * 1.2, 1.5rem);
  --sizeTexto: 18px;
}