:root {

  /*** COLORES ***/
  /* rgb */
  --azul: #020887;
  --accion: #F46246;
  --amarillo: #FCD739;
  --gris: #202727;
  --blanco: #f5f5fa;
  --colorTexto: rgb(30, 33, 43);
  --shadow: 3px 2px 5px rgba(0, 0, 0, 0.2);

  /*** FUENTES ***/
  --fuenteTitulo: 'Oswald', sans-serif;
  --fuenteTexto: 'Nunito Sans', sans-serif;
  --fuenteQ: 'Megrim', cursive;

  --sizeH1: 2em;
  --sizeH2: 1.7em;
  --sizeH3: 1.5em;
  --sizeTexto: 18px;
}