---
layout: compress
---
{% include head.html %}
<body>
  {% include nav.html %}
  {% include header.html %}
  {{ content }}
  {% include footer.html %}
<!-- <amp-analytics type="gtag" data-credentials="include">
    <script type="application/json">
    {
      "vars" : {
        "gtag_id": "UA-XXXXX-Y",
        "config" : {
          "UA-XXXXX-Y": {
            "groups": "default"
          }
        }
      }
    }
    </script>
</amp-analytics> -->
</body>
 <!-- Google -->
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-LXH4RTJ9N1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'G-LXH4RTJ9N1');
  </script>
<!-- nav -->
<script src="{{ site.baseurl }}/js/app.js"></script>
</html>