---
layout: compress
---
{% include head.html %}

<body>
  {% include nav.html %}
  {% include header.html %}
  {{ content }}
  {% include footer.html %}
<amp-analytics type="gtag" data-credentials="include">
    <script type="application/json">
    {
      "vars" : {
        "gtag_id": "UA-XXXXX-Y",
        "config" : {
          "UA-XXXXX-Y": {
            "groups": "default"
          }
        }
      }
    }
    </script>
</amp-analytics>
</body>
<!-- nav -->
<script src="{{ site.baseurl }}/js/app.js"></script>
</html>