---
layout: compress
---
{% include head.html %}
<body>

  {% include header.html %}
<main class="wrapper contenido">
  <article class="flow landing">
    {{content}}
  </article>
</main>
</body>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-LXH4RTJ9N1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'G-LXH4RTJ9N1');
  </script>
  <script defer src="{{ '/js/whatsapp.js' | relative_url }}"></script>

</html>